*{

box-sizing: border-box;	
}

.main{
	display: grid;
	grid: 'topbanner topbanner topbanner'
			'navigation navigation navigation'
			'mainbannerLocation mainbannerLocation mainbannerLocation'
			'first second third'
			'secondbanner secondbanner secondbanner'
			'category category category'
			'downloadapp downloadapp downloadapp'
			'locate locate locate'
			'footer footer footer';
	grid-gap: 20px;
	grid-auto-flow: dense;
	word-wrap: break-word;
	background-color: snow;
}

.topbanner {
	height: 50px;
	width: auto;
	grid-area: topbanner;
	background-color: red;
	border:1px solid black;
	display: flex;

}

.navigation {
	height: 100px;
	width: auto;
	grid-area: navigation;
	background-color: snow;
	border: 1px solid black;
}

.mainbannerLocation {
	height: 800px;
	width: auto;
	grid-area: mainbannerLocation;
  background-image: url("mainbanner.jpg");
  background-size: cover;
	border: 1px solid black;
	text-align: center;
}
.mid{
	margin: auto;
	line-height: 51px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

/*.rows{
	height: 200px;
	width: auto;
	background-color: yellow;
}*/

.first{
	height: auto;
	width: 200px;
	grid-area: first;

}
.second {
	height: auto;
	width: 200px;
	grid-area: second;

}

.third{
	height: auto;
	width: 200px;
	grid-area: third;
}
.secondbanner {
	height: 400px;
	width: auto;
	grid-area: secondbanner;
	background-color: blue;
	border: 1px solid black;

}
.category {
	height: 300px;
	width: auto;
	display: grid;
	grid: 'beer beer wine wine liquor liquor extras extras';
			grid-gap: 20px;
	grid-auto-flow: dense;
	word-wrap: break-word;
	background-color: green;

}
.beer {
	height: 250px;
	width: auto;
	grid-area: beer;
	background-color: brown;
		border: 1px solid black;

}
.wine {
	height: 250px;
	width: auto;
	grid-area: wine;
	background-color: red;
		border: 1px solid black;

}
.liquor {
	height: 250px;
	width: auto;
	grid-area: liquor;
	background-color: grey;
		border: 1px solid black;
}
.extras {
	height: 250px;
	width: auto;
	grid-area: extras;
	background-color: orange;
		border: 1px solid black;
}

.downloadapp{
	height: 350px;
	width: auto;
	grid-area: downloadapp;
	background-color: purple;
			border: 1px solid black;

}

.locate{
	height: 400px;
	width: auto;
	grid-area: locate;
	background-color: pink;
			border: 1px solid black;

}



/*This is for menu*/
.navigation{
	  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
	min-height: 100px;
    min-width: 100px;
    width: 50%
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px #b6b6b6; 
  min-width:  30vh;
}



ul {
  padding: 0;
  list-style: none;
}
.menu {
	display: flex;
	width: auto;
	height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

.menu li {
  cursor: pointer;
}
.menu li:hover{
  color: rgba(85,172,238 ,1);
}



.menu li:not(:last-child) {
  margin-right: 10px;
}
.menu li  i {
  margin-right: 3px;
}
.menu li > button {
  font-size: 0.8em;
  border: 0;
  background: rgba(85,172,238 ,1);
  color: #fff;
  border-radius: 100px;
}

.h3{
	margin-left: auto;
	margin-right: auto;
}

.footer{
	/*height: 350px;*/
	width: auto;
	grid-area: footer;
	background-color: snow;
			

}

.grid-container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: snow;
  padding: 10px;
  padding-left: 20%;
  padding-right: 20%;
}
.grid-item {
  background-color: snow;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  /*padding: 20px;*/
  /*font-size: 30px;*/
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border-radius: 50%;
 background: #E12C2C;
 color: white;
}


.fa:hover {
    opacity: 0.7;
}
